.container {
    display: flex;
    justify-content: center; 
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    flex-wrap: wrap; /* Allow wrapping of cards */
    align-items: flex-start;
}

.countryCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Center items within each card */
    text-align: center;
    margin: 10px;
}
