.container {
    display: flex;
    justify-content: center; 
    height: 100vh;
    width: 100%; 
    flex-wrap: wrap; 
    align-items: flex-start;
}

.countryCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    text-align: center;
    margin: 10px;
}
.flag{
    height: 65px;
    width: 65px;
}